<div class="ag-margin md-padding" layout="column">

  <div class="ag-margin" layout="row">

    <div flex="50" class="box">
      <div class="title">Payment type:</div>
      <md-radio-group ng-model="type">
        <%for(var type of page.types){%>
          <md-radio-button class="type" value="<%-type.name%>">
          <md-icon
          aria-label="<%-type.name%>"
          md-svg-src="<%-get_icon(type.icon)%>">
          </md-icon>
          <span><%-lng(type.title)%></span>
          </md-radio-button>
          <%}%>
        </md-radio-group>
      </div>

      <div class="box" flex="50">
        <div layout="row" layout-align="start center">
          <span>Amount:</span>
          <input ng-model="amount" type="number"/>
        </div>
      </div>

    </div>

    <div layout-align="end" layout="row">
      <md-button ng-click="close()">Cancel</md-button>
      <md-button class="md-raised" ng-click="add()">Add</md-button>
    </div>

  </div>
