<div class="header md-padding" layout-align="start center" layout="row">
  <div>
  <h2>Invoice: {{invoice.code}}</h2>
  <span>{{invoice.createdAt | amDateFormat:'LLLL'}}</span>
  </div>
  <span flex="auto"></span>
</div>

<div class="md-padding ag-margin" layout="column">

  <div class="ag-margin summary" layout="column">
    <h3>Summary</h3>
    <div class="box">
      <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
        <tr ng-repeat="item in invoice.items">
          <td class="label">
            <span>{{item.description}}</span>
          </td>
          <td>{{item.price | currency}}</td>
          <td>{{item.quantity}}</td>
          <td>{{(item.price * item.quantity) | currency}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div layout-align="end" layout="row">
    <div class="amount">
      Total: {{invoice.amount | currency}}
    </div>
  </div>

  <div class="payments" layout="column">
    <h3>Payments</h3>
    <div class="box">
      <table>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Date</th>
          <tr ng-repeat="item in invoice.payments">
            <td>{{item.type}}</td>
            <td>{{item.amount | currency}}</td>
            <td>{{item.createdAt | amDateFormat:'LLLL'}}</td>
          </tr>
        </tr>
      </table>
    </div>
    <div layout="row" layout-align="end">
      <md-button ng-click="addPayment()">
        Add
      </md-button>
    </div>
  </div>
