md-dialog.payment-invoice{

  .amount{
    background: green;
    padding: 10px;
    color: white;
  }

  .method{
    .title{
      margin-right: 10px;
    }
  }

  .box{
    background: whitesmoke;
    padding: 10px;
  }

  .summary{
    th{
      text-align: left;
    }
    .label{
      span{
        white-space: nowrap;
      }
    }
  }

}

.payment-method-menu{
  .ag-list-item{
    padding: 10px 14px;
    md-icon{
      margin: 0;
    }
  }
}
