md-dialog.payment-invoice{

  .header{
    background: color-primary;
    color: white;
  }

  table{
    width: 100%;
    th{
      text-align: left;
    }
    .label{
      span{
        white-space: nowrap;
      }
    }
  }

  .amount{
    background: green;
    padding: 10px;
    color: white;
  }

  .box{
    background: whitesmoke;
    padding: 10px;
  }

}
