md-dialog.payment-invoice{

  .header{
    background: color-primary;
    color: white;
  }

  table{
    width: 100%;
    th{
      text-align: left;
    }
    .label{
      span{
        white-space: nowrap;
      }
    }
  }
  .payments{
    .result{
      td{
        font-size: 1.2em;
        color: #353535;
        &.label{
          padding-right: 10px;
        }
      }
    }
  }
  .amount{
    font-size: 1.4em;
    color: #585858;
  }

  .box{
    background: whitesmoke;
    padding: 10px;
  }

}
