.ui-payment-invoices{
  .ag-list-item{
    background: white;
    &.method-none{
      border-left: solid 4px red;
    }
    .label{
      color: white;
      padding: 5px 10px;
      &.error{
        background: red;
      }
      &.warn{
        background: orange;
      }
      &.success{
        background: green;
      }
    }
  }
}
