.payment-invoice-labels{
  .label{
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    &.error{
      background: #e63030;
    }
    &.warn{
      background: #f39f2d;
    }
    &.success{
      background: #03af03;
    }
  }
}
