div[account-role-customer]{
  position: relative;
  .box{
    background: whitesmoke;
    padding: 10px;
  }
  .totals{
    background: white;
    padding: 10px;
    &.important{
      box-shadow: 0 2px 2px grey;
    }
    .header{
      border-bottom: solid 2px color-primary;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .title{
      color: color-primary;
      font-size: 1.2em;
    }
  }
}
