<%
var data = get_data('account/customer');
%>
<div class="md-padding" account-role-customer>
  <div class="ag-margin"layout="column">
    <div class="box" layout="column">

      <div layout="row">
        <span flex="auto"></span>
        <md-button aria-label="Refresh" class="md-icon-button" ng-click="analytics()">
          <md-icon
          md-svg-src="<%-get_icon('material/refresh')%>">
        </md-icon>
      </md-button>
    </div>
    <div class="ag-margin" layout="row">
      <%for(var item of data.totals){%>
        <%-template('account/customer/totals',item)%>
        <%}%>
      </div>

    </div>
    <div class="box">
      <%-template('ui/payment-invoices')%>
    </div>
  </div>

</div>
