<div class="payment-field">
  <label class="hosted-fields--label" for="<%-locals.id%>"><%-lng(locals.title)%></label>
  <div id="<%-locals.id%>" class="hosted-field"></div>
  <%if(locals.postfix){%>
  <div id="<%-locals.postfix.id%>"></div>
  <%}%>
</div>
